tests/obj/
api/obj/
filestest/obj/Debug/netcoreapp2.0/filestest.AssemblyInfo.cs
tests/bin/Debug/netcoreapp2.0/api.dll
tests/bin/
util/bin/
util/obj/
filestest/obj/
api/bin/Debug/netcoreapp2.0/api.deps.json
api/bin/
roslyn/obj/
*.pyc
DDF/obj/
DDF/bin/
DDF/repository/
DDF/output/
*.log
*.dll
*.xml
*.exe
*.config
*.pdb
RepositoryTool/obj/Debug/netcoreapp2.1/project.razor.json
RepositoryTool/obj/Debug/netcoreapp2.1/RepositoryTool.AssemblyInfo.cs
RepositoryTool/obj/Debug/netcoreapp2.1/RepositoryTool.AssemblyInfoInputs.cache
RepositoryTool/obj/Debug/netcoreapp2.1/RepositoryTool.csproj.CoreCompileInputs.cache
RepositoryTool/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RepositoryTool/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RepositoryTool/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RepositoryTool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RepositoryTool/obj/Debug/MonoRepositoryTool.csproj.CopyComplete
RepositoryTool/obj/Debug/MonoRepositoryTool.csproj.CoreCompileInputs.cache
RepositoryTool/obj/Debug/MonoRepositoryTool.csproj.FileListAbsolute.txt
RepositoryTool/obj/Debug/MonoRepositoryTool.csprojAssemblyReference.cache
RepositoryTool/obj/Debug/MonoRepositoryTool.csprojResolveAssemblyReference.cache
RepositoryTool/obj/Debug/project.razor.json
RepositoryTool/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RepositoryTool/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RepositoryTool/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
debugger/.vscode/
.vs/
consoletest/obj/
consoletest/packages/
curses/bin/
curses/obj/
DblDebug/DblDebug/obj/
DblDebug/packages/
goldrepl/goldrepl/obj/
isamexplore/obj/
RepositoryTool/packages/
extensions/dbl/.vscode/
goldrepl/Gold/bin/
goldrepl/Gold/obj/
goldrepl/packages/
