h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  
  input{
    background-color: pink;
    width: calc(100% - 120px);
  }

  .col{
    background-color: orange;
    border: solid 1px blue;
    padding-left: 2px !important;
    padding-right: 2px !important;
    text-align: right;
  }