h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  
  input{
    width: calc(100% - 140px);
  }

  .row{
    padding-top: 4px;
  }

  .col{
    padding-left: 2px !important;
    padding-right: 2px !important;
    text-align: right;
  }

  .btn-toolbar{
    padding-top: 10px;
  }

  .pageContent{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .requestPreview{
      width:100%;
      font-family: 'Courier New', Courier, monospace;
      text-align: left;
      background-color: black;
      color: white;
  }